# {{ ansible_managed }}

APPLICATION_SECRET_KEY="{{ application_secret_key }}"

DEFAULT_DOMAIN="{{ default_domain }}"
FRONTEND_BASE_URL="{{ frontend_base_url }}"

ALLOWED_HOSTS="{{ allowed_hosts }}"
DJANGO_DEBUG_MODE="{{ django_debug_mode }}"
KEYCLOAK_SERVER_URL="{{ keycloak_server_url }}"
KEYCLOAK_CLIENT_ID="{{ keycloak_client_id }}"
KEYCLOAK_CLIENT_SECRET="{{ keycloak_client_secret }}"
KEYCLOAK_REALM="{{ keycloak_realm }}"
KEYCLOAK_ADMIN_USER="{{ keycloak_admin_user }}"
KEYCLOAK_ADMIN_PASSWORD="{{ keycloak_admin_password }}"

OPENCELL_BASEURL="{{ opencell_baseurl }}"
OPENCELL_USER="{{ opencell_user }}"
OPENCELL_PASSWORD="{{ opencell_password }}"

DATABASE_USER="{{ database_user }}"
DATABASE_NAME="{{ database_name }}"
DATABASE_PASSWORD="{{ database_password }}"
DATABASE_HOST="{{ database_host }}"

SOMOFFICE_ADMIN_PASSWORD="{{ somoffice_admin_password }}"

EMAIL_HOST="{{ somoffice_email_host }}"
EMAIL_PORT="{{ somoffice_email_port }}"
EMAIL_HOST_USER="{{ somoffice_email_host_user }}"
EMAIL_HOST_PASSWORD="{{ somoffice_email_host_password }}"
EMAIL_USE_TLS="{{ somoffice_email_use_tls }}"
EMAIL_FROM="{{ email_from }}"
EMAIL_USE_DUMMY_BACKEND="{{ somoffice_use_dummy_email_backend }}"

BUGSNAG_SOMCONNEXIO_SOMOFFICE_BACKEND_API_KEY="{{ bugsnag_somconnexio_somoffice_backend_api_key | default('') }}"
BUGSNAG_SOMCONNEXIO_SOMOFFICE_STAGE="{{ bugsnag_somconnexio_somoffice_stage | default('') }}"

OTRS_USER="{{ otrs_user }}"
OTRS_PASSW="{{ otrs_password }}"
OTRS_URL="{{ otrs_baseurl }}"

ODOO_BASEURL="{{ odoo_baseurl }}"
ODOO_APIKEY="{{ odoo_apikey }}"

SOMOFFICE_TICKET_FALLBACK_PATH="{{ ticket_fallback_path }}"

# frontend environment variables must be prefixed with REACT_APP
#
#   ______________________________________
#  / WARNING: dont put any sensitive      \
#  | secrets here, they will be leaked to |
#  \ the browser and be publicly visible  /
#   --------------------------------------
#       \   ^__^
#        \  (OO)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
#
REACT_APP_BUGSNAG_SOMCONNEXIO_SOMOFFICE_FRONTEND_API_KEY="{{ bugsnag_somconnexio_somoffice_frontend_api_key | default('') }}"
REACT_APP_BUGSNAG_SOMCONNEXIO_SOMOFFICE_STAGE="{{ bugsnag_somconnexio_somoffice_stage | default('') }}"
REACT_APP_MATOMO_SNIPPET_ID={{ matomo_snippet_id }}
REACT_APP_GOOGLE_ANALYTICS_ID={{ google_analytics_id }}
